main.container {
    display: flex;
    color: white;
    padding-top: 6em;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    
}

main.container > img{
    width: 274px;
    margin-right: 58px;
}

.related {
    flex-grow: 1;
    height: 20px;
    
}

.related>.related-row{
    background-color: rgba(255,255,255, 0.07);
    height: 135px;
    width: 100%;
    margin-bottom: 1rem;
}