html {
    font-family: "Open Sans", sans-serif;
}

body {
    padding-top: 2rem;
    margin: 0;
    background-image: linear-gradient(to right, #004878, #0069af);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 1rem;
    color: #004878;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    padding: 0 1rem;
    color: #004878;
}

.btn-classic {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.btn-primary {
    background-color: white;
}

.fa {
    color: white;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}