#filters {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#alphabetical-category .alphabetical-category-index {
    display: flex;
    justify-content: space-between;
}

#alphabetical-category .alphabetical-category-index a {
    color: rgba(255, 255, 255, 0.5);
    padding: .5rem;
}

#alphabetical-category .alphabetical-category-index a:hover {
    color: white;
}

main.container .anime-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 50px;
}

main.container .anime-wrapper {
    font-size: 14px;
    border-radius: 5px;
    width: calc(1280/5);
    background-color: white;
}

main.container .anime-wrapper .anime-image img {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

main.container .anime-wrapper .anime-image .anime-info {
    padding: .5rem;
}

main.container .anime-wrapper .anime-image .anime-info .title {
    margin-bottom: .3rem;
}

main.container .anime-wrapper .anime-image .anime-info .meta {
    display: flex;
    justify-content: space-between;
}