footer {
    box-sizing: border-box;
    background-color: #191919;
    width: 100%;
    padding: 0 2rem;
    margin-top: 5rem;
}

footer > .container {
    max-width: 1100px;
}

.footer-row {
    color: rgba(255, 255, 255, 0.45);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.footer-row span {
    margin-right: 1rem;
}

.type-list ul li {
    margin: 0.5rem;
    display: inline-block;
}

.footer-title {
    color: white;
}

.footer-div {
    padding-top: 2rem;
    
}

.footer-div-inline {
    padding-top: 2rem;
    padding-right: 5rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.footer-div-inline > .footer-title {
    margin-bottom: 1.33rem;
}