main.container {
    display: flex;
    color: white;
    padding-top: 6em;
    width: 1100px;
}

main.container > .left {
    display:flex
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 3;    
    width: 530px;
}

main.container > .left > .anime-img{
    margin-right: 2rem;
}

.left > .info > .flex-row {
    margin-bottom: 10px;
}

.left > .info > .flex-row h3 {
    display:inline;
}

.left > .info > .flex-row > .flex-row.rating{
    display:inline;
    margin-left: 10px;
    color: #ffff00;
}

.left > .info > .flex-row > span.title{
    font-weight: 400;
}

.left > .info > .flex-row > span{
    font-weight: 200;
}

.left > .info .synopsis {
    font-weight: 200;
}

.related {
    height: 20px;
    margin-left: 2rem;
}

.related > .related-row{
    display: grid;
    place-content: center;
    background-color: rgba(255,255,255, 0.07);
    height: 90px;
    width: 273px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.related > .related-title {
    margin-bottom: 1rem;
}

.related > .related-title > h3{
    display: inline;
}

.related-row:hover{
    border: 1px solid white;
    border-radius: 5px;
}