<div class="header">
    <div class="logo">
        <a href="/" class="btn btn-logo">Seyirlik | anime</a>
    </div>
    <div class="nav">
        <ul class="menu">
            <a class="li-btn" href="/animelist">
                <li>Liste</li>
            </a>
            <a class="li-btn" href="#">
                <li>Top 100</li>
            </a>
            <a class="li-btn" href="#">
                <li>Rastgele</li>
            </a>
        </ul>
    </div>
    <div class="search">
        <form class="search-form">
            <input type="text" name="search" placeholder="anime ara" autocomplete="off">
            <button type="submit" class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>