<div class="side-div">
    <ul class="side-menu">
        <a class="li-btn" href="/admin/animelist"><li>Animeler</li></a>
        <a class="li-btn" href="/admin/newanime"><li>Anime Ekle</li></a>
        <a class="li-btn" href=""><li>Koleksiyonlar</li></a>
        <a class="li-btn" href=""><li>Koleksiyon Ekle</li></a>
        <a class="li-btn" href="logout"><li>Çıkış</li></a>
    </ul>
</div>
