.content-wrapper {
    margin-top: 4rem;
    display: flex;
}

.content-wrapper .side-div {
    width: 16%;
    padding-right: .5rem;
}

.content-wrapper .side-div .side-menu {
    display: flex;
    flex-direction: column;
}

.content-wrapper .side-div .side-menu .li-btn {
    font-size: 16px;
}

.content-wrapper .list {
    margin: 0 0 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    flex: 1;
}