.newanime-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
    position: relative;
    flex: 1
}

.newanime-form .flex-row {
    display: flex;
    margin-bottom: 2rem;
}

.newanime-form .flex-row .flex-item {
    display: flex;
    margin-bottom: 2rem;
    flex: 1;
}

.newanime-form .flex-row .flex-item.text-area {
    width: 100%;
    margin: 0;
}

.newanime-form .flex-row .flex-item {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

/* .newanime-form .flex-row .flex-item label {
    margin-bottom: 1rem;
} */

.newanime-form .grid-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.newanime-form .grid-row .grid-title {
    margin-bottom: 1rem;
}

.newanime-form .grid-row .grid-table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 12px;
}

.newanime-form label {
    margin-bottom: 4px;
}

.newanime-form input:not([type='checkbox']), .newanime-form textarea, .newanime-form select {
    background-color: rgba(255, 255, 255, 0.07);
    height: 42px;
    padding: 6px;
    border: 0;
    outline: 0;
    border-radius: 3px;
    color: #fff;
}

.newanime-form input[type='number'] {
    -moz-appearance: textfield;
}

.newanime-form input[type='checkbox'] {
    display: none;
}

.newanime-form input[type='checkbox']+label {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.newanime-form input[type='checkbox']:checked+label {
    color: rgb(255, 255, 255);
}

.newanime-form select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 25px;
}

.newanime-form select option {
    color: #fff;
    background-color: rgba(0, 105, 175, 1);
}

.select-container {
    position: relative;
}

.select-container::after {
    content: ' ';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    top: 65%;
    right: 5px;
}

.newanime-form .flex-item.w50 {
    width: 40%;
}

.newanime-form textarea {
    min-height: 220px;
    width: 100%;
    font-family: 'Segoe UI';
}